.temps-wrap {
  display: flex;
  flex-direction: column;

  margin: auto;
}

.back-btn {
  width: max-content;
}

.bar {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 90vw;
  height: max-content;
}
.bar > h1 {
  margin: 0 auto;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: rgb(36, 36, 61);
}

.table-container {
  display: flex;
  width: 100%;
}
