.temps-wrap {
  display: flex;
  flex-direction: column;

  margin: auto;
}

.back-btn {
  width: max-content;
}

.bar {
  display: flex;
  position: fixed;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: max-content;
  background-color: rgb(230, 236, 243);
}
.bar > h1 {
  margin: auto;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: rgb(36, 36, 61);
  margin-left: 10px;
}

.table-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
}
